/* Общие стили */


.animate__animated.animate__pulse {
    --animate-duration: 0.03s;
  }



body {
    /* margin: 0;
    font-family: Arial, sans-serif;
    background-color: #282c35; 
    height: 100vh;
    display: flex;
    flex-direction: column; */

    overflow: hidden;
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
    background-image: url('img/castle.png'); /* Ссылка на ваше изображение */
    background-size: cover; /* Масштабирование изображения, чтобы покрыть весь экран */
    background-position: top; /* Центрируем изображение */
    background-repeat: repeat; /* Избегаем повторения изображения */
    position: relative;
    
}

.myCanvas{
    position: absolute;
    top: 0;
}



.container {
    display: flex;
    flex-direction: column;
    /* min-width: 500px; */
    height: 100%;
}

.zone {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Первая зона - счетчик */
.counter-zone {
    /* border: 1px solid red; */
    height: 100px;
    font-size: 46px;
    color: rgb(255, 255, 255);




  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: "Jacquard 12", system-ui;
  font-weight: 300;
  font-style: normal;

  
}

/* Вторая зона - кнопка */
.button-zone {
    display: block;
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button {
    /* width: 80%; */
    width: 70vw;
    max-width: 500px;
    max-height: 500px;
    height: 70vw;
    aspect-ratio: 1; /* Сделает кнопку круглой */
    background: #FF4C4C ; /* 3D-эффект */
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
    position: absolute;
}

.photo-button{
    width: 70vw;
    max-width: 500px;
    max-height: 500px;
    height: 70vw;
    outline: none;
    border: none; /* Это если у кнопки есть бордер */
  background: transparent; /* Чтобы фоновое выделение исчезло */
}

.photo-button:focus {
    outline: none;
    box-shadow: none;
  }

/* Эффект нажатия */
.main-button:active {
    transform: scale(0.9); /* Уменьшение при нажатии */
}

.main-button:hover {
    opacity: 0.9;
}
.photo-button:active {
    transform: scale(0.9); /* Уменьшение при нажатии */
}

.photo-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Третья зона - сброс */
.reset-zone {
    height: 10%;
}

.reset-button {
    width: 100%;
    background-color: #333333; /* Темный цвет кнопки */
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.reset-button:hover {
    opacity: 0.9;
}
